/target
./*.json
node_modules

# Rust
debug/
release/
*.rs.bk
*.rlib
*.prof*
*.log
.env*

# Node.js
dist/
build/
coverage/
.npm/
.yarn/
.npmrc

# Universal
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/

crates/**/target
!scripts/release
frontend-openapi-skills
aptx/
test-generate/
